.theme-default-content:not(.custom) {
  max-width 1300px
  height calc(100% - 150px)
}

.page .page-nav{
  max-width 1300px
}

html,body, #app{
    height 100%
}

.page{
height calc(100% - 40px)
}

 .theme-container{
    height 100% 
 }

